<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<html>
<head>
    <title>Payments</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header>
    <h1>Akademia IT</h1>
    <img src="/images/academy_icon.jpg" alt="Akademia IT Logo">
</header>
<nav>
    <ul>
        <li><a href="/" >Strona główna</a></li>
        <li><a href="/students" >Studenci</a></li>
        <li><a href="/teachers" >Nauczyciele</a></li>
        <li><a href="/subjects" >Przedmioty</a></li>
        <li><a href="/admin" class="active">Administracja</a></li>
    </ul>
</nav>
<main>
    <h2>Płatności studenta</h2>
    <form class="form" th:object="${students}">
        <label>Imię:</label>
        <input type="text"  th:field="*{name}" disabled/>
        <span>
                    </span>
        <label>Nazwisko:</label>
        <input type="text"  th:field="*{surname}" disabled/>
        <span>
                    </span>
        <label>Alias:</label>
        <input type="text"  th:field="*{alias}" disabled/>
        <span>
                    </span>
        <div class="form-buttons">
            <a class="form-button-cancel" th:href="@{'/admin/student/details/' + ${id}}">Powrót</a>
        </div>
    </form>
        <h2>Aktualna płatność</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Obecne czesne</th>
                <th>Dodatkowe opłaty</th>
                <th>Termin zapłaty</th>
            </tr>
            </thead>
            <tbody th:each="active:${active}">
            <tr>
                <td th:text="${active.getPayment().getCurrentTuition()}"></td>
                <td th:text="${active.getPayment().getAdditionalFees()}"></td>
                <td th:text="${active.getPayment().getDeadline()}" ></td>
            </tr>
            </tbody>
        </table>
    <h2>Historia płatności</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Podstawowe czesne</th>
            <th>Dodatkowe opłaty</th>
            <th>Data zapłaty</th>
        </tr>
        </thead>
        <tbody th:each="payment:${payments}">
        <tr>
            <td th:text="${payment.getPayment().getCurrentTuition()}"></td>
            <td th:text="${payment.getPayment().getAdditionalFees()}"></td>
            <td th:text="${payment.getDateOfPayment()}"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    Rafał Smoczyński s7973
</footer>
</body>
</html>

