<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<html>
<head>
    <title>Teaching Mode</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header>
    <h1>Akademia IT</h1>
    <img src="/images/academy_icon.jpg" alt="Akademia IT Logo">
</header>
<nav>
    <ul>
        <li><a href="/" >Strona główna</a></li>
        <li><a href="/students" >Studenci</a></li>
        <li><a href="/teachers" >Nauczyciele</a></li>
        <li><a href="/subjects" >Przedmioty</a></li>
        <li><a href="/admin" class="active">Administracja</a></li>
    </ul>
</nav>
<main>
    <h2>Szczegóły trybu nauczania</h2>
    <form class="form" th:object="${modes}">
        <label>Nazwa:</label>
        <input type="text"  th:field="*{mode}" disabled/>
        <span>
                    </span>
        <div class="section-buttons">
            <a th:href="@{'/admin/mode/edit/' + ${id}}"class="list-actions-button-edit">Edytuj</a>
        </div>
        <div class="form-buttons">
            <a class="form-button-cancel" href="/admin/mode/list">Powrót</a>
        </div>
    </form>

    <h2>Grupy</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Kod grupy</th>
            <th>Rocznik grupy</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody th:each="group:${groups}">
        <tr>
            <td th:text="${group.getCode()}"></td>
            <td th:text="${group.getYear()}"></td>
            <td>
                <ul class="list-actions">
                    <li><a th:href="@{'/admin/group/details/' + ${group.getId()}}" class="list-actions-button-details">Szczegóły</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    Rafał Smoczyński s7973
</footer>
</body>
</html>

