<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<html>
<head>
    <title>Teaching Mode</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header>
    <h1>Akademia IT</h1>
    <img src="/images/academy_icon.jpg" alt="Akademia IT Logo">
</header>
<nav>
    <ul>
        <li><a href="/" >Strona główna</a></li>
        <li><a href="/students" >Studenci</a></li>
        <li><a href="/teachers" >Nauczyciele</a></li>
        <li><a href="/subjects" >Przedmioty</a></li>
        <li><a href="/admin" class="active">Administracja</a></li>
    </ul>
</nav>
<main>
    <h2>Edytuj tryb nauczania</h2>
    <form class="form" th:object="${modes}" th:action="@{'/admin/mode/edit/' + ${id}}" th:method="put">
        <label>Nazwa:</label>
        <input type="text"  th:field="*{mode}" th:value="*{mode}"/>
                <span style="color: red; ">
                    <p th:if="${#fields.hasErrors('mode')}" th:errors="*{mode}"/>
                </span>
        <div class="section-buttons">
            <a th:href="@{'/admin/mode/edit/' + ${id}}" ><button class="form-button-submit"  type="submit" value="Edit">Zapisz</button></a>
        </div>
        <div class="form-buttons">
            <a class="form-button-cancel" th:href="@{'/admin/mode/details/' + ${id}}" >Powrót</a>
        </div>
    </form>
</main>
<footer>
    Rafał Smoczyński s7973
</footer>
</body>
</html>

