<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<html>
<head>
    <title>Students</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header>
    <h1>Akademia IT</h1>
    <img src="/images/academy_icon.jpg" alt="Akademia IT Logo">
</header>
<nav>
    <ul>
        <li><a href="/" >Strona główna</a></li>
        <li><a href="/students" >Studenci</a></li>
        <li><a href="/teachers" >Nauczyciele</a></li>
        <li><a href="/subjects" >Przedmioty</a></li>
        <li><a href="/admin" class="active">Administracja</a></li>
    </ul>
</nav>
<main>
    <h2>Dodaj przedmiot</h2>
    <form class="form" th:object="${subject}" th:action="@{/admin/subject/list}" th:method="post">
        <label>Nazwa:</label>
            <input type="text" th:field="*{name}"/>
                <span style="color: red; ">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                </span>
        <label>Alias:</label>
            <input type="text" th:field="*{alias}"/>
                <span style="color: red; ">
                    <p th:if="${#fields.hasErrors('alias')}" th:errors="*{alias}"/>
                </span>
        <label>Semestr:</label>
            <input type="text" th:field="*{semester}"/>
                <span style="color: red; ">
                    <p th:if="${#fields.hasErrors('semester')}" th:errors="*{semester}"/>
                </span>
        <div class="section-buttons">
            <a href="/admin/subject/list" class="form-button-submit" type="submit"><button class="form-button-submit" type="submit">Zapisz</button></a>
        </div>
        <div class="form-buttons">
            <a class="form-button-cancel" href="/admin/subject/list">Powrót</a>
        </div>
    </form>

</main>
<footer>
    Rafał Smoczyński s7973
</footer>
</body>
</html>
