<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akademia IT</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<header>
    <h1>Akademia IT</h1>
    <img src="/images/academy_icon.jpg" alt="Akademia IT Logo">
</header>
<nav>
    <ul>
        <li><a href="/" class="active">Strona główna</a></li>
        <li><a href="/students" >Studenci</a></li>
        <li><a href="/teachers" >Nauczyciele</a></li>
        <li><a href="/subjects" >Przedmioty</a></li>
        <li><a href="/admin" >Administracja</a></li>
    </ul>
</nav>
<main>
    <h2>Strona główna</h2>
    <p>Podnosimy kwalifikacje i umiejętności od ponad 20 lat.</p>
    <p><b>Dlaczego warto wybrać studia w AIT</b></p>
    <p>Uczelnia działająca pod auspicjami Polskiej Akademii Nauk jedna z najlepszych uczelni, praktyczny wymiar studiów,  studiujesz w świetnie przygotowanym środowisku! </p>

    <p><b>*****Studia licencjackie*****</b></p>
    <p><b>GRAFIKA</b></p>
    <p>Studia stacjonarne (dzienne) i niestacjonarne (zaoczne) trwają 6 semestrów i kończą się uzyskaniem tytułu licencjata w obszarze nauk o sztuce.</p>
    <p>Specjalności:</p>
    <p>Grafika użytkowa</p>
    <p>Techniki multimedialne</p>

    <p><b>ZARZĄDZANIE</b></p>
    <p>Studia stacjonarne (dzienne) i niestacjonarne (zaoczne) trwają 6 semestrów i kończą się uzyskaniem tytułu licencjata w obszarze nauk społecznych.</p>
    <p>Specjalności:</p>

    <p>E-marketing, Business leadership</p>
    <p>Przedsiębiorczość w biznesie</p>
    <p>Zarządzanie bezpieczeństwem</p>
    <p>Zarządzanie informacjami</p>
    <p>Studia na kierunku Zarządzanie, którego realizacja rozpocznie się w roku akademickim 2018/2019, będą współfinansowane ze środków UE.
        Semestralna opłata będzie wynosiła 1300 zł (przy wpłacie jednorazowej) lub 5 rat po 300 zł (przy wpłatach ratalnych).
        Oznacza to że każdy uczestnik projektu otrzyma  dofinansowanie do studiów w wysokości :  750 pln x 6 semestrów = 4500 pln</p>

    <p><b>*****Studia inżynierskie*****</b></p>
    <p><b>INFORMATYKA</b></p>
    <p>Studia stacjonarne (dzienne) trwają 7 semestrów a studia niestacjonarne (zaoczne) trwają 8 semestrów. Kończą się uzyskaniem tytułu inżyniera.</p>
    <p>Specjalności:</p>
    <p>Bazy danych</p>
    <p>Inżynieria oprogramowania</p>
    <p>Technologia chmury obliczeniowej</p>

    <p><b>INFORMATYCZNE TECHNIKI ZARZĄDZANIA</b></p>
    <p>Studia stacjonarne (dzienne) trwają 7 semestrów a studia niestacjonarne (zaoczne) trwają 8 semestrów. Kończą się uzyskaniem tytułu inżyniera.</p>
    <p>Specjalności:</p>
    <p>Geoinformatyka</p>
    <p>Informatyka stosowana</p>
    <p>Zarządzanie projektami</p>

    <p><b>*****Studia magisterskie*****</b></p>
    <p><b>GRAFIKA</b></p>
    <p>Studia stacjonarne (dzienne) i niestacjonarne (zaoczne) trwają 4 semestry i kończą się uzyskaniem tytułu magistra sztuki.</p>
    <p>Specjalności:</p>
    <p>Grafika cyfrowa</p>
    <p>Zaawansowane multimedia</p>

    <p><b>INFORMATYKA</b></p>
    <p>Studia  niestacjonarne (zaoczne) trwają 4 semestry i kończą się uzyskaniem tytułu magistra inżyniera.</p>
    <p>Specjalności:</p>
    <p>Inżynieria programowo - sprzętowa</p>

    <p><b>INFORMATYCZNE TECHNIKI ZARZĄDZANIA</b></p>
    <p>Studia  niestacjonarne (zaoczne) trwają 3 semestry i kończą się uzyskaniem tytułu magistra</p>
    <p>Specjalności:</p>
    <p>Inżynieria procesów biznesowych</p>
    <p>Technologia blockchain w biznesie</p>
    <p>Zarządzanie w IT.</p>

    </p>
</main>
<footer>
    Rafał Smoczyński s7973
</footer>
</body>
</html>

