<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<html>
<head>
    <title>Groups</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header>
    <h1>Akademia IT</h1>
    <img src="/images/academy_icon.jpg" alt="Akademia IT Logo">
</header>
<nav>
    <ul>
        <li><a href="/" >Strona główna</a></li>
        <li><a href="/students" >Studenci</a></li>
        <li><a href="/teachers" >Nauczyciele</a></li>
        <li><a href="/subjects" >Przedmioty</a></li>
        <li><a href="/admin" class="active">Administracja</a></li>
    </ul>
</nav>
<main>
    <h2>Przypisz specjalizację</h2>
    <form class="form" th:object="${groups}" th:action="@{'/admin/group/add/spec/' + ${id}}"  th:method="patch">
        <label>Kod:</label>
        <label th:text = "${groups.code}"/>
        <div style="display: none;">
            <input type="text"  th:field="*{code}" th:value="*{code}"  />
        </div>
        <span>
                </span>
        <label>Rok:</label>
        <label th:text = "${groups.year}"/>
        <div style="display: none;">
            <input type="text"  th:field="*{year}" th:value ="*{year}" />
        </div>
        <span>
                </span>
        <label class="control-label">Dodaj specjalizację:</label>
        <select class="form-control" th:field="*{specialization.id}">
            <option th:each="spec : ${specs}" th:value="${spec.id}"
                    th:text="${spec.name}"></option>
        </select>
        <span>
            </span>
        <div class="form-buttons" >
            <a href="/admin/group/add/mode" ><button class="form-button-submit"  type="submit" value="Edit">Zapisz</button></a>
        </div>
        <div class="form-buttons">
            <a class="form-button-cancel" href="/admin/group/list">Powrót</a>
        </div>
    </form>
</main>
<footer>
    Rafał Smoczyński s7973
</footer>
</body>
</html>

