<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<html>
<head>
    <title>Groups</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header>
    <h1>Akademia IT</h1>
    <img src="/images/academy_icon.jpg" alt="Akademia IT Logo">
</header>
<nav>
    <ul>
        <li><a href="/" >Strona główna</a></li>
        <li><a href="/students" >Studenci</a></li>
        <li><a href="/teachers" >Nauczyciele</a></li>
        <li><a href="/subjects" >Przedmioty</a></li>
        <li><a href="/admin" class="active">Administracja</a></li>
    </ul>
</nav>
<main>
    <h2>Czy chcesz przypisać studentów do grupy?</h2>
    <form class="form" >
        <a th:href="@{'/admin/group/addStudent/' + ${id}}"  class="list-actions-button-details">TAK</a>
        <a th:href="@{'/admin/group/list/'}"  class="list-actions-button-delete">NIE</a>
    </form>
</main>
<footer>
    Rafał Smoczyński s7973
</footer>
</body>
</html>

