<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<html>
<head>
    <title>Groups</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header>
    <h1>Akademia IT</h1>
    <img src="/images/academy_icon.jpg" alt="Akademia IT Logo">
</header>
<nav>
    <ul>
        <li><a href="/" >Strona główna</a></li>
        <li><a href="/students" >Studenci</a></li>
        <li><a href="/teachers" >Nauczyciele</a></li>
        <li><a href="/subjects" >Przedmioty</a></li>
        <li><a href="/admin" class="active">Administracja</a></li>
    </ul>
</nav>
<main>
    <h2>Lista grup</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Kod grupy</th>
            <th>Rok</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody th:each="group:${groups}">
        <tr>
            <td th:text="${group.getCode()}"></td>
            <td th:text="${group.getYear()}"></td>
            <td>
                <ul class="list-actions">
                    <li><a th:href="@{'/admin/group/details/' + ${group.getId()}}" class="list-actions-button-details">Szczegóły</a></li>
                    <li><a th:href="@{'/admin/group/delete/' + ${group.getId()}}" class="list-actions-button-delete" >Usuń</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <p><a href="/admin/group/add" class="button-add" >Dodaj nową grupę</a></p>
    <p><a href="/admin" class="list-actions-button-delete" >Powrót</a></p>
    <p></p>
</main>
<footer>
    Rafał Smoczyński s7973
</footer>
</body>
</html>

