<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<html>
<head>
    <title>Teachers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header>
    <h1>Akademia IT</h1>
    <img src="/images/academy_icon.jpg" alt="Akademia IT Logo">
</header>
<nav>
    <ul>
        <li><a href="/" >Strona główna</a></li>
        <li><a href="/students" >Studenci</a></li>
        <li><a href="/teachers" >Nauczyciele</a></li>
        <li><a href="/subjects" >Przedmioty</a></li>
        <li><a href="/admin" class="active">Administracja</a></li>
    </ul>
</nav>
<main>
    <h2>Edycja nauczyciela</h2>
    <form class="form" th:object="${teachers}" th:action="@{'/admin/teacher/edit/' + ${id}}" th:method="put">
        <label>Imię:</label>
            <input type="text"  th:field="*{name}" th:value="*{name}"/>
                <span style="color: red; ">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                </span>
        <label>Nazwisko:</label>
            <input type="text"  th:field="*{surname}" th:value="*{surname}"/>
                <span style="color: red; ">
                    <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"/>
                </span>
        <label>E-mail:</label>
            <input type="text"  th:field="*{email}" th:value="*{email}"/>
                <span>
                </span>
        <label>Telefon:</label>
            <input type="text"  th:field="*{telephone}" th:value="*{telephone}"/>
                <span>
                </span>
        <label>Zarobki:</label>
            <input type="number" th:field="*{salary}" th:value="*{salary}"/>
                <span>
                </span>
        <div class="section-buttons">
            <a th:href="@{'/admin/teacher/edit/' + ${id}}" ><button class="form-button-submit"  type="submit" value="Edit">Zapisz</button></a>

        </div>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <a class="form-button-cancel" th:href="@{'/admin/teacher/details/' + ${id}}">Powrót</a>
        </div>
    </form>
    <h2>Przedmioty</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Kod</th>
            <th>Nazwa</th>
        </tr>
        </thead>
        <tbody th:each="subject:${subjects}">
        <tr>
            <td th:text="${subject.getAlias()}"></td>
            <td th:text="${subject.getName()}"></td>
        </tr>
        </tbody>
    </table>
    <h2>Zatrudnienie</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Data od</th>
            <th>Data do</th>
        </tr>
        </thead>
        <tbody th:each="employment:${employments}">
        <tr>
            <td th:text="${employment.getDateFrom()}"></td>
            <td th:text="${employment.getDateTo()}"></td>
        </tr>
        </tbody>
    </table>
    <form class = "form" >
        <div>
            <p><a class="form-button-submit" th:href="@{'/admin/teacher/employment/' + ${id}}">Dodaj nowe</a></p>
        </div>
    </form>
</main>
<footer>
    Rafał Smoczyński s7973
</footer>
</body>
</html>
